/.idea/.name
/Simple Chatty Bot/task/build/reports/tests/test/css/base-style.css
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/5.3.1/javaCompile/classAnalysis.bin
/.idea/compiler.xml
/course-info.yaml
/course-remote-info.yaml
/Simple Chatty Bot/task/build/reports/tests/test/packages/default-package.html
/.gradle/5.3.1/executionHistory/executionHistory.bin
/.gradle/5.2.1/executionHistory/executionHistory.bin
/.gradle/5.3.1/executionHistory/executionHistory.lock
/.gradle/5.2.1/executionHistory/executionHistory.lock
/.gradle/5.3.1/fileContent/fileContent.lock
/.gradle/5.3.1/fileHashes/fileHashes.bin
/.gradle/5.2.1/fileHashes/fileHashes.bin
/.gradle/5.3.1/fileHashes/fileHashes.lock
/.gradle/5.2.1/fileHashes/fileHashes.lock
/.gradle/5.3.1/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/5.2.1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/libraries/Gradle__com_cedarsoftware_json_io_4_10_1.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_9_8.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_9_8.xml
/.idea/libraries/Gradle__com_github_hyperskill_hs_test_v6.xml
/.idea/libraries/Gradle__com_github_stefanbirkner_system_rules_1_19_0.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Gradle__junit_junit_4_11.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_9.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_11.xml
/.idea/libraries/Gradle__org_assertj_assertj_core_3_8_0.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_3_8_0.xml
/.idea/libraries/Gradle__org_assertj_assertj_swing_junit_3_8_0.xml
/.idea/libraries/Gradle__org_easytesting_fest_reflect_1_4_1.xml
/.idea/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/gradlew
/gradlew.bat
/Simple Chatty Bot/task/build/reports/tests/test/index.html
/Simple Chatty Bot/task/build/tmp/test/jar_extract_357805893741656369_tmp
/.gradle/5.3.1/javaCompile/jarAnalysis.bin
/.gradle/5.3.1/javaCompile/javaCompile.lock
/.gradle/5.3.1/fileChanges/last-build.bin
/.gradle/5.2.1/fileChanges/last-build.bin
/Simple Chatty Bot/lesson-info.yaml
/.idea/misc.xml
/.idea/modules.xml
/Simple Chatty Bot/task/build/test-results/test/binary/output.bin
/Simple Chatty Bot/task/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/Simple Chatty Bot/task/build/classes/java/test/PersonalAssistantTest.class
/Simple Chatty Bot/task/build/reports/tests/test/classes/PersonalAssistantTest.html
/Simple Chatty Bot/task/test/PersonalAssistantTest.java
/Simple Chatty Bot/task/build/reports/tests/test/js/report.js
/.gradle/5.3.1/fileHashes/resourceHashesCache.bin
/Simple Chatty Bot/task/build/test-results/test/binary/results.bin
/settings.gradle
/.idea/modules/Simple_Chatty_Bot.iml
/.idea/modules/Simple Chatty Bot/task/Simple_Chatty_Bot-task.iml
/.idea/modules/Simple Chatty Bot/task/Simple_Chatty_Bot-task_main.iml
/.idea/modules/Simple Chatty Bot/task/Simple_Chatty_Bot-task_test.iml
/Simple Chatty Bot/task/build/classes/java/main/bot/SimpleBot.class
/.idea/frameworkLessonHistory/storage.storageData
/.idea/frameworkLessonHistory/storage.storageRecordIndex
/Simple Chatty Bot/task/build/reports/tests/test/css/style.css
/Simple Chatty Bot/Hello! What’s your name/task.html
/Simple Chatty Bot/Let’s count!/task.html
/Simple Chatty Bot/How old are you/task.html
/Simple Chatty Bot/The student and the teacher/task.html
/Simple Chatty Bot/Let’s count!/task-info.yaml
/Simple Chatty Bot/The student and the teacher/task-info.yaml
/Simple Chatty Bot/Hello! What’s your name/task-info.yaml
/Simple Chatty Bot/How old are you/task-info.yaml
/Simple Chatty Bot/Hello! What’s your name/task-remote-info.yaml
/Simple Chatty Bot/How old are you/task-remote-info.yaml
/Simple Chatty Bot/Let’s count!/task-remote-info.yaml
/Simple Chatty Bot/The student and the teacher/task-remote-info.yaml
/.gradle/5.3.1/javaCompile/taskHistory.bin
/Simple Chatty Bot/task/build/test-results/test/TEST-PersonalAssistantTest.xml
/.idea/modules/util/util.iml
/.idea/modules/util/util_main.iml
/.idea/modules/util/util_test.iml
